.profileScreen {
    height: 100vh;
    color: var(--white);
    background: rgb(17, 17, 17);

}

.profile-body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 8%;
    max-width: 800px;

    > h1 {
        font-size: 6rem;
        font-weight: 400;
        border-bottom: 1px solid #282c2d;
        margin-bottom: 2rem;
    }
}

.profile-info {
    display: flex;
}

.profile-avatar {
    height: 100px;
}

.profile-details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile-email {
    background: gray;
    padding: 14px;
    font-size: 15px;
    padding-left: 20px;
}

.profile-plans {
    margin-top: 20px;
    > h3 {
        border-bottom: 1px solid #282c2d;
        padding-bottom: 10px;
    }
}

.profile-signOut {
    padding: 10px 0;
    padding: 6px 0;
    font-size: 2rem;
    margin-top: 5%;
    width: 100%;
    color: var(--white);
    background: var(--primary);
    font-weight: 600;
    cursor: pointer;
}
