.scrollUp-btn {
    position: fixed;
    right: 70px;
    bottom: 50px;
    font-size: 5rem;
    background: transparent;
    color:  rgba(255, 255, 255, 0.4);
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        color:rgba(255, 255, 255, 0.8);
    }

    @media screen and (max-width: 600px) {
        right: 40px
    }
}